*{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
}
.header-links{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.container1{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.container2{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
}
.box-container{
    display: flex;
    justify-content: center;
    gap: 50px   ;
    align-items: center ;
    padding-top: 40px;
}
.boxes div{
    color: white;
    border-radius: 10px;
    border: 4px solid blue;
    height: 100px;
    width: 100px;
}
.boxes p{
    height: 80px;
    width: 80px;
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part1{
    background-color: #1f2937;
    padding: 0 200px 0 200px;
    color:aliceblue;
    
}